
<div id="popular_section">
  <h1 class= "styleHeader">Popular movies </h1>

  <% for(var i = 0; i < 3; i++){ %>
    <div class="popular_box">
      <img src="<%= 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'+ popularMovies[i].poster_path %>"
        alt= "<%= popularMovies[i].title %>" width = 125px; height = 175px;/>
      <h3><%= popularMovies[i].title %></h3> 
      <p><%= popularMovies[i].overview.substring(0, 175).trim() + "   " %><a href="/selectedMovie/:<%= popularMovies[i].id %>">more...</a></p>
    </div>
  <% } %>

  
  
  <div class="moreInfo2">
    <a href="#">View All</a>
  </div>
</div> 